nav li{
	list-style-type: none;
	float: left;
}
nav ul{
	margin: 0px;
	padding: 0px;
}
nav a{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #DCE4F0;
	text-transform: uppercase;
	font-size: 20px;
}
nav{
	width: 100%;
	background-color: #17579E;
	clear: both;
}	
.menu{
	display: table;
	margin: 0 auto;
}

.menu li a:hover{ 
	color:#FFF;
	font-weight: bold;
	background: #90AED0; 
}
body{
	font-family:Verdana;
	font-size:20px;
	margin:20px;
	padding:0px;
	border: 2px solid #17579E;
	background: #DCE90O;
	color:#6184BA;
}
header{
	text-align: center;
	background: #EEE;
	border: 1px solid #AAA;
	display: flex;
}
.gauche{
	float:left;
	width:24%;
	padding-left: 1%;
	text-align:center;
	margin: auto;
}
.milieu{
	float:left;
	width:50%;
	margin: auto;
}
.droite{
	float:left;
	width:24%;
	padding-top: 30px;
	padding-right: 1%;
	padding-bottom: 20px;
	margin: auto;
}

.droite::after{
	clear:both;
}


h1{
	font-size: 300%;
	color: #17579E;
}
h2{
	font-size:200%;
	color: #6184BA;
}
footer{
	clear: left;
	display: flex;
	flex-direction: row;
	border-top: 2px solid #17579E;
	background-color: #EEE;
	margin: 0px;
	padding: 10px;
	color: #555;
}
@media (max-width: 1400px) {
  footer {
    flex-direction: column;
    padding-left: 30%;
  }
 }

.main{
	padding-left: 30px;
	text-align: justify;
	text-justify: inter-word;
	padding-right: 30px;
}
.main a{
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
	color: #17579E;
}
.main a:hover{
	font-weight: bolder;
	font-style: normal;
}

/*
.image{
	text-align: center;
	padding-bottom: 20px;
	width: 100%;
	height: auto;
}
*/
footer div{
  float:left;
}
footer img{
	display: block;
	width: auto;
	height: 100px;
	margin-left: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
/*	width: 20%;
	height: auto;
	vertical-align: baseline;*/
}

.right{
	float:left;
	width:65%;
	}
.left{
	float:left;
	width:35%;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
	}
.right::after {
  content: "";
  clear: both;
  display: table;

}

img {
  max-width: 100%;
  height: auto;
}

.li_event{
	font-size: 24px;
	text-indent: 30px;
}

.member{
	clear:both;
	float:none;
	display: block;
}

.member p{
	font-size: 30px;
}
